<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tomato</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <style>
    *{
  font-family: 'Roboto', sans-serif;
    }
    .tomato_big_container{
    
        display : flex ;
        align-items : center ;
        justify-contents : center;
        flex-direction : column ;
    }
    .tomato_head1 img{
      width : 55%; 
      height : 35rem ; 
    }
    .tomato_head1 {
        width : 70%;
     
        height : 45rem ;
        display : flex ;
        font-size : 20px ;
        justify-content : center;
        align-items : center ;
   
    }
   .content  p{
       padding : 1rem ;
   }
   .content h3 {
       text-align : center ;
   }

   .steps{
    
       display : flex;
       flex-wrap : wrap ;
       justify-content : center ;
       align-items : center ;
       font-size : 20px ;
   }
   .stepslist{
       height : 25rem ;
       width : 25rem;
      
       display : flex ;
       flex-direction : column ;
       justify-content : center ;
       align-items : center ;
   }
   .stepslist img {
       width : 10rem ;
       height : 10rem ;
   }
   .stepslist p {
       padding : 1rem ;
       height : 13rem ;
   }
 h1 {
     text-align : center ;
 }
 .seedling {
     font-size : 20px ;
     width : 80%;
 }
 .diseases {
    
     width : 80%;
     font-size : 18px;
 }
 .early_blight {
    
     
     display : flex ;
 
       justify-content : center ;
       align-items : center ;
 }
 .early_blight_image img 
 {
     width : 20rem ;
     height : 20rem ;
 }
 .early_blight_image {
    
     width : 30%;
 }
 .early_blight_content {
   
     width : 56%;
 }
 .early_blight_content  h2{
     text-align : center ;
     color : #078c07;
 }
  h1 {
      color : #047682 ;
  }
h3 {
    color : green;
}
    </style>
</head>
<body>
<h1>Everything You Need To Know In Growing Tomatoes </h1>
    <div class="tomato_big_container">
    <div class="tomato_head1">

    <img src="../static/pictures/tomato1.png" alt="">
    <div class="content">
     <p>Tomato grows in the warm season .It requires sandy , heavy clay , read loam soil with the ph 
between 6 to 7 .Tomato plant requires the temperature between 21<sup>.</sup>- 24 <sup>.</sup>c.Temperature above 32 <sup>.</sup>c and below 10 <sup>.</sup>c can adversly effect the growth of the tomato plant
</p>
<h3>Necessary steps taken to grow Tomato at Home</h3>
<p>Sowing should be done in thinly lines spaced at 10 -15 cm distance 
seeds should be sown at the depth of 2-3 cm and covered with the fine layer of soil followed by light water spray 
Tomato plant are very sensitive to water. Irrigation should be given 7-8 days in the interval during the kharif and during Rabi 10 -12 days and 5 -6 days in the summer</p>
<h3>Natural Fertilizer </h3>
<ul>
<li>Wood ash from the fireplace can be a great nutrition source of potassium .</li>
<li>Banana peel can also be a great source of potassium and calcium</li>
</ul>
    </div>
 
    </div>
 <h1>Steps to grow Tomato from already grown Tomato</h1>
    <div class="steps">
       
    <div class="stepslist">
<h3>Step 1</h3>
    <div class="image"><img src="../static/pictures/tomato1.jpeg" alt=""></div>
    <p>Take some fresh tomatoes (prefer heirloom varieties) and cut them into slices, or use fresh tomato seeds from the market.</p>
    </div>
    <div class="stepslist">
    <h3>Step 2</h3>
  <div class="image"><img src="../static/pictures/tomato6.jpeg" alt=""></div>
    <p>	Now take a small pot with drainage holes at the bottom.  Fill it with soil mix you can use (60% garden soil+40% organic compost), or you can use seed starting mix.</p>

    </div>
    <div class="stepslist">
    <h3>Step 3</h3>
    <div class="image"><img src="../static/pictures/tomato2.jpeg" alt=""></div>
    <p> Now place the slices on the surface of the soil. You can remove tomato flesh to avoid any growth of fungus.
            Now cover the slices with a fine layer with same soil mix, and pat down lightly.</p>
    </div>
    <div class="stepslist">
    <h3> Step 4 </h3>
    <div class="image"><img src="../static/pictures/tomato3.jpeg" alt=""></div>
    <p>	After covering with soil water it well.
Now keep the pot in partial shade, and once the seeds start to germinate, move the pot into full sun. Keep the soil evenly moist during germination process.</p>
    </div>
    <div class="stepslist">
    <h3>Step 5</h3>
    <div class="image"><img src="../static/pictures/tomato4.jpeg" alt=""></div>
    <p> When the seedlings are 6-8 inches tall at that time you can transplant them at the final place you want to grow tomato.</p>
    </div>
    </div>
<h1>Steps To Transplant the Seedlings</h1>
<div class="seedling">
<ol>
        <li>
            Now for potting mix use well drained soil with good amount of organic matter. Take a mix of  60% garden soil+40% organic compost and mix it well.
        </li>
        <li>
            Now take a container that is at least 18-20 inches in diameter and 15-18 inches deep, had holes for drainage. And then put the soil mixture into it.
        </li>

        <li>
            Now take the germinated plants out of their seedling  pot carefully. Make sure you don’t damage the root of plants while transplanting.
        </li>

        <li>
            Now dig a hole 6-8 inches deep in the pot with your hand only, while planting remove all the lower leaves from seedling. Now plant the seedling as deep as possible.
        </li>
        <li>
            Fill in  the hole with some of the soil you removed. Only top few inches of the plant will be exposed. 
        </li>
        <li>
        After transplanting add water to the plant and keep the pot in partial shade for 2 days, and after that gradually expose the plants to the sun.
        </li>

        <li>
            Tomato plant need 4-6 hours of sunlight daily and water your tomato plant daily to keep the upper layer of soil evenly moist.
        </li>

        <li>
        As tomato plant grow taller you can use long stick and put it in the pot to provide them support. And tie the stems loosely to them with twine.
         After every  18-20 days add organic compost , fertilizer to your palnt.

        </li>

    </ol>
</div>
<h1>Disease and Managment</h1>
 <div class="diseases">
 <p align = " center">Common disease that are caused in the Tomato plant are Early blight and Bacterial wilt </p>
 <div class="early_blight">
 <div class="early_blight_content">
 <h2>Early Blight</h2>
<p>The fungus attacks the foliage causing characteristic leaf spots and blight. Early blight is first observed on the plants as small, black lesions mostly on the older foliage.
Spots enlarge, and by the time they are one-fourth inch in diameter or larger, concentric rings in a bull's eye pattern can be seen in the center of the diseased area.
Tissue surrounding the spots may turn yellow. If high temperature and humidity occur at this time, much of the foliage is killed.</p>
<h2>Symptoms of Early Blight</h2>
<p>Tomatoes affected by early blight will have oval-shaped irregular brown or black spots on older leaves which become noticeable ten days after the infection begins. These spots will develop multiple rings, creating a target-like design as the disease progresses further. Eventually, if no action is taken, the spots begin to yellow and the leaves start to drop off the plant. As the leaves fall away, the unprotected fruit is left to bake in full sunlight, causing it to scald and ruin.
 Early blight also directly affects the fruit of the tomato plant, causing dark, sunken, leathery spots to occur on the ends of the plant’s stems. The rot then goes down into the fruit of the tomato and eventually causes the fruit to drop from the plant. The disease overwinters on plant debris and grows strong in warm, moist weather conditions. Using control spray is very important to rid the garden area of the disease entirely, as the disease will often enter through a cut, bruise, or wounded area of a healthy tomato and infect the entire plant.</p>
<h2>Steps to prevent disease</h2>
<p>
 • Provide good ventilation. Make sure there is good ventilation around the plants – keep the sides of any cover open and try to prevent condensation building up.<br>
 • Plant early. Plant early to try for a harvest before early or late blight hits.<br>
 • Choose resistant varieties.<br>
 • Practice good hygiene.<br>
 • Early blight prevention involves spraying plants with copper-based fungicides.<br>
 • precautions to take when using these copper-based fungicides, don't spray the plants if there is any wind or rain.</p>
<h2>Treatment And Control Of Early Blight</h2>
<p>Follow a good fungicide regimen using a fungicide recommended specifically for early blight. Plant only disease-resistant varieties of tomatoes (such as Mountain Fresh, Mountain Supreme and Plum Daddy cultivars) after treating the beds with fungicide and removing all old plant debris completely, following fungicide instructions carefully.
 The best way to keep early blight out of your garden is to practice control methods. Early blight is a soil borne fungus that occurs when the leaves of the tomato plant get too wet and get soil particles on the underside of the leaves. In order to keep the leaves from getting dirty, there are practices that you can try that will keep the leaves from touching the ground. Cover the soil with at least six inches of mulch during the growing season, putting a layer of protection in place, so that the leaves don’t touch the soil directly.
 Remove old plant debris completely and discard of it in the garbage. Do not compost affected plants or you will most likely be reintroducing the disease to your soil down the road. Rotate your crops often. Carefully space out your plants to promote good air circulation to help your plants dry out after a rain or watering.</p>
 <h2>Fovourable Conditions</h2>
 <p>Moist weather and splattering rains
High humidity or persistent dew.
</p>
 </div>
  <div class="early_blight_image">
  <img src="../static/pictures/earlyBlight.png" alt="" >
<img src="../static/pictures/earlyBlight1.jpg" alt="">
<img src="../static/pictures/earlyBlight3.jpg" alt="">
<img src="../static/pictures/earlyBlight4.jpg" alt="" >
  </div>
 </div>
 </div>

    </div>
</body>
</html>